In [1]:
import pandas as pd

In [2]:
!ls HeteWalk

1_BINARY_PROTEIN_PROTEIN_INTERACTIONS.txt  1.csv  2.csv  symbol_to_entrez.csv

In [3]:
ppi = pd.read_csv("HeteWalk/1_BINARY_PROTEIN_PROTEIN_INTERACTIONS.txt", sep='\t')

In [4]:
ppi = ppi[["Interactor 1 Gene symbol", "Interactor 2 Gene symbol"]]

In [5]:
gene_2_entrez = pd.read_csv("HeteWalk/symbol_to_entrez.csv")

In [6]:
gene_2_entrez = gene_2_entrez.drop_duplicates()

In [7]:
gene_2_entrez.head()

    SYMBOL  ENTREZID
0  ALDH1A1       216
1    ITGA7      3679
2  PPP1R9A     55607
3     SRGN      5552
4     GRB7      2886

In [8]:
first = pd.merge(ppi, gene_2_entrez, left_on="Interactor 1 Gene symbol", right_on="SYMBOL")

In [9]:
first = first[["Interactor 2 Gene symbol", "ENTREZID"]]

In [10]:
first = first.rename(columns={"ENTREZID": "Gene 1"})

In [11]:
second = pd.merge(first, gene_2_entrez, left_on="Interactor 2 Gene symbol", right_on="SYMBOL")

In [12]:
second = second[["Gene 1", "ENTREZID"]]

In [13]:
second = second.rename(columns={"ENTREZID": "Gene 2"})

In [14]:
second.head()

   Gene 1  Gene 2
0     216     216
1    3679    1134
2    1144    1134
3    1145    1134
4    1146    1134

In [15]:
second = second.drop_duplicates()

In [17]:
second.to_csv("gene_gene.csv", index=False)