In [1]:
import pandas as pd

In [2]:
!ls HeteWalk

1_BINARY_PROTEIN_PROTEIN_INTERACTIONS.txt  1.csv  2.csv  symbol_to_entrez.csv

In [3]:
ppi = pd.read_csv("HeteWalk/1_BINARY_PROTEIN_PROTEIN_INTERACTIONS.txt", sep='\t')

In [4]:
#xli = pd.concat([ppi['Interactor 1 Gene symbol'], ppi['Interactor 2 Gene symbol']], axis=0).unique().tolist()

In [5]:
ppi.head()

,Interactor 1 Gene symbol,Interactor 1 HPRD id,Interactor 1 RefSeq id,Interactor 2 Gene symbol,Interactor 2 HPRD id,Interactor 2 RefSeq id,"Experiment type (in vivo, in vitro and yeast 2-hybrid)",Pubmed id
0,ALDH1A1,1,NP_000680.2,ALDH1A1,1,NP_000680.2,in vivo;yeast 2-hybrid,"12081471,16189514"
1,ITGA7,2761,NP_001138468.1,CHRNA1,7,NP_001034612.1,in vivo,10910772
2,PPP1R9A,16000,NP_060120.2,ACTG1,17,NP_001605.1,in vitro;in vivo,"9362513,12052877"
3,SRGN,1513,NP_002718.2,CD44,115,NP_000601.3,in vivo,9334256
4,GRB7,3311,NP_005301.2,ERBB2,1281,NP_004439.2,in vitro;in vivo,9079677

In [4]:
one =pd.read_csv("HeteWalk/1.csv")

In [5]:
one.head()

    SYMBOL  ENTREZID
0  ALDH1A1       216
1    ITGA7      3679
2  PPP1R9A     55607
3     SRGN      5552
4     GRB7      2886

In [6]:
two = pd.read_csv("HeteWalk/2.csv")

In [9]:
one

        SYMBOL  ENTREZID
0      ALDH1A1       216
1        ITGA7      3679
2      PPP1R9A     55607
3         SRGN      5552
4         GRB7      2886
5         PAK1      5058
6         DLG4      1742
7       PIK3R2      5296
8       PTPN18     26469
9      ERBB2IP       NaN
10      SMURF2     64750
11         NF2      4771
12        CD82      3732
13      ERRFI1     54206
14        MMP7      4316
15        TOB1     10140
16        MUC4      4585
17       PICK1      9463
18      SMURF2     64750
19       DDX20     11218
20        TLE1      7088
21        TLE3      7090
22       HDAC1      3065
23       SMAD1      4086
24       KDM5B     10765
25         CD4       920
26      SMURF2     64750
27         CBL       867
28       PLCG1      5335
29        PRLR      5618
...        ...       ...
39223     SHC1      6464
39224   PLXNB1      5364
39225     BAG1       573
39226     GLMN     11146
39227   RANBP9     10048
39228      HGS      9146
39229      MET      4233
39230  RANBP10     57610
39231      LCK      3932
39232    MUC20    200958
39233   SMURF2     64750
39234    ERBB2      2064
39235     ACPP        55
39236   PIK3R1      5295
39237    PLCG1      5335
39238      JUP      3728
39239     SOS1      6654
39240      SRC      6714
39241    ERBB3      2065
39242     SPP1      6696
39243  HSP90B1      7184
39244   SMURF2     64750
39245     MATK      4145
39246      BTC       685
39247   SMURF2     64750
39248     SHC1      6464
39249    IL6ST      3572
39250     PTK2      5747
39251     CAV1       857
39252    PTK2B      2185

[39253 rows x 2 columns]

In [13]:
two.dropna(inplace=True)

In [14]:
two

        SYMBOL  ENTREZID
0      ALDH1A1       216
1       CHRNA1      1134
2        ACTG1        71
3         CD44       960
4        ERBB2      2064
5        ERBB2      2064
6        ERBB2      2064
7        ERBB2      2064
8        ERBB2      2064
9        ERBB2      2064
10     ARHGAP5       394
11       ERBB2      2064
12       ERBB2      2064
13       ERBB2      2064
14        CD44       960
15       ERBB2      2064
16       ERBB2      2064
17       ERBB2      2064
18       TXNIP     10628
19        ETV3      2117
20       FOXG1      2290
21       FOXG1      2290
22       FOXG1      2290
23       FOXG1      2290
24       FOXG1      2290
25        CD44       960
26        DAB2      1601
27        VAV1      7409
28        VAV1      7409
29        VAV1      7409
...        ...       ...
39225      MET      4233
39226      MET      4233
39227      MET      4233
39228      MET      4233
39229      MET      4233
39230      MET      4233
39231     GAB1      2549
39232      MET      4233
39233     CD44       960
39234      MET      4233
39235    TFPI2      7980
39236    ERBB2      2064
39237    ERBB2      2064
39238    ERBB2      2064
39239    ERBB2      2064
39240    ERBB2      2064
39241    ERBB2      2064
39242    ERBB2      2064
39243    ERBB2      2064
39244     CD44       960
39245    ERBB2      2064
39246     CANX       821
39247    ERBB2      2064
39248    ERBB2      2064
39249   CUEDC1    404093
39250    ERBB2      2064
39251    ERBB2      2064
39252    ERBB2      2064
39253    ERBB2      2064
39254    ERBB2      2064

[37502 rows x 2 columns]

In [15]:
result = one.append(two)

In [18]:
result.drop_duplicates()

           SYMBOL  ENTREZID
0         ALDH1A1       216
1           ITGA7      3679
2         PPP1R9A     55607
3            SRGN      5552
4            GRB7      2886
5            PAK1      5058
6            DLG4      1742
7          PIK3R2      5296
8          PTPN18     26469
10         SMURF2     64750
11            NF2      4771
12           CD82      3732
13         ERRFI1     54206
14           MMP7      4316
15           TOB1     10140
16           MUC4      4585
17          PICK1      9463
19          DDX20     11218
20           TLE1      7088
21           TLE3      7090
22          HDAC1      3065
23          SMAD1      4086
24          KDM5B     10765
25            CD4       920
27            CBL       867
28          PLCG1      5335
29           PRLR      5618
30           TYK2      7297
32          MAPK1      5594
33           VAV1      7409
...           ...       ...
37565         MTR      4548
37742       HERC2      8924
37838        CD33       945
37892       MYH11      4629
37941        MYL3      4634
37942      MYBPC2      4606
38035      PCSK1N     27344
38073       NHLH1      4807
38103        AZU1       566
38360      TRIM62     55223
38414      ZNHIT6     54680
38417       ZNF41      7592
38425    C22orf46     79640
38489       MORC4     79710
38498        TSKU     25987
38499       ZBTB3     79842
38506       USP25     29761
38510    C12orf10     60314
38521       PLCD3    113026
38553  ST6GALNAC2     10610
38564      ZNF329     79673
38577       PRDM4     11108
38593         ACE      1636
38626      SLC4A3      6508
38713        NOP2      4839
38725       ANXA4       307
38794       OBP2A     29991
38795         OMP      4975
38802         OMG      4974
39249      CUEDC1    404093

[9001 rows x 2 columns]

In [20]:
symbol_to_entrez = result

In [23]:
symbol_to_entrez.to_csv("symbol_to_entrez.csv", index=False)