In [1]:
import pandas as pd

In [2]:
!ls

FF_Miner.ipynb		      FF-Miner_miner-func-func.tsv.gz
FF-Miner_miner-func-func.tsv  function_tunction.csv

In [3]:
ff_miner = pd.read_csv("FF-Miner_miner-func-func.tsv", sep='\t')

In [4]:
ff_miner.rename(columns={"# GO_ID1":"Function1", "GO_ID2":"Function2"}, inplace=True)

In [6]:
ff_miner.head()

    Function1   Function2
0  GO:0008296  GO:0008408
1  GO:0016811  GO:0033970
2  GO:0045222  GO:0045223
3  GO:0021803  GO:0030031
4  GO:0033574  GO:1901654

In [9]:
ff_miner.to_csv("function_tunction.csv", index=False)