In [6]:
import pandas as pd

In [7]:
!ls

ChCh-Miner_durgbank-chem-chem.tsv     Untitled.ipynb
ChCh-Miner_durgbank-chem-chem.tsv.gz

In [8]:
chch_miner = pd.read_csv("ChCh-Miner_durgbank-chem-chem.tsv", sep='\t')

In [10]:
chch_miner

         Drug1    Drug2
0      DB00862  DB00966
1      DB00575  DB00806
2      DB01242  DB08893
3      DB01151  DB08883
4      DB01235  DB01275
5      DB00018  DB00333
6      DB00201  DB01609
7      DB00712  DB01418
8      DB01576  DB04842
9      DB01609  DB06212
10     DB01232  DB09291
11     DB00382  DB06153
12     DB01017  DB01142
13     DB00214  DB01174
14     DB00104  DB00908
15     DB00569  DB01109
16     DB01222  DB09063
17     DB00898  DB01589
18     DB00762  DB09054
19     DB00780  DB01158
20     DB00186  DB09071
21     DB01248  DB06688
22     DB00484  DB00881
23     DB00396  DB00682
24     DB00368  DB01551
25     DB00054  DB00605
26     DB01320  DB09061
27     DB01167  DB01320
28     DB00186  DB00572
29     DB00921  DB09272
...        ...      ...
48484  DB01054  DB06724
48485  DB00798  DB00861
48486  DB01120  DB01380
48487  DB01192  DB09117
48488  DB01224  DB01253
48489  DB00333  DB01232
48490  DB01193  DB06707
48491  DB00557  DB01236
48492  DB00180  DB00745
48493  DB00258  DB00390
48494  DB00450  DB00653
48495  DB00559  DB00877
48496  DB00814  DB01172
48497  DB00912  DB09063
48498  DB00370  DB00834
48499  DB00422  DB00585
48500  DB00216  DB01624
48501  DB00366  DB00934
48502  DB00872  DB09036
48503  DB00201  DB00816
48504  DB04868  DB09049
48505  DB00384  DB00461
48506  DB01201  DB05521
48507  DB00391  DB00782
48508  DB00745  DB00816
48509  DB00542  DB01354
48510  DB00476  DB01239
48511  DB00621  DB01120
48512  DB00808  DB01356
48513  DB00677  DB06287

[48514 rows x 2 columns]

In [11]:
chch_miner.to_csv("drug_drug.csv", index=False)